.page {
  height: 100%;
}

.page__body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-text;
  background-color: $bg-color;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;

  @media (max-width: ($desktop-width - 1px)) {
    overflow: hidden;
  }
}
