.subscription {
  position: relative;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 104px;
  }
}

.subscription__title {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.subscription__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-secondary;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    max-width: 90%;
    font-size: 24px;
    line-height: 32px;
    margin-inline: auto;
  }
}

.subscription__form {
  @media (min-width: $tablet-width) {
    padding: 0 38px;
  }
}
